<%- include ../__header.ejs %>

<h2> <%= post.dataValues.title %> <h2>
<p>
  <%= post.dataValues.body %>
</p>

<form class="delete" method="post" action="/posts/<%= post.dataValues.id %>?_method=delete"><button>Delete</button></form>

<a href="/posts/<%= post.dataValues.id %>/edit"><button>Edit</button></form>

<%- include ../__footer.ejs %>